/*
    Drum Machine
*/

.track_0, .track_1, .track_2, .track_3, .track_4 {
    display: flex;
    padding-left: 5px;
    padding-top: 5px;
}

.pad {
    height: 20px;
    width: 11px;
    border: #394045 solid 1px;
    border-radius: 2px;
}

/* Skip the margin on the first one: */
.pad:nth-child(n+2) {
    margin-left: 4px;
}

.pad-b {
    background: #545A5E;
}

.pad-y {
    background: #666655;
}


.box {
    height: 24px;
    width: 34px;
    background: #505b4d;
    border-radius: 2px;
    margin-left: 4px;
    border: solid #3F484D 1px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.trackName {
    height: 24px;
    width: 500px;
    background: #4D565B;
    border-radius: 2px;
    margin-left: 8px;
    border: solid #3F484D 1px;
}
